#map { 
    width : 80vw; 
    height: 80vh; 
    margin : auto; 
    display: block;
    border : 2px solid #ddd;
    border-radius: 10px;
    overflow : hidden;
    box-shadow : 0 4px 8px rgba(0,0,0,0.2);
}    

body {
    font-family: 'Robot', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Fredericka the Great ', cursive;
    font-size: 4em;
    text-align: center;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
    padding : 10px;
    border-radius : 8px;
    background-color: #ecf0f1;
    color: #7ce6b1;
    margin-left: 10%; 
    margin-right: 10%;
}

img.huechangeR { filter: hue-rotate(500deg); }
img.huechangeV { filter: hue-rotate(1000deg); }
img.huechangeO { filter: hue-rotate(880deg); }
img.huechangeJ { filter: hue-rotate(220deg); }

#reviewsTable {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 240, 0.85); 
}

#reviewsTable th, #reviewsTable td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 15px;
}

#reviewsTable th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#reviewsTable th:hover {
    background-color: #45a049;
}

.stars {
    color: gold;
    font-size: 14px;
}