#map { 
    width : 80vw; 
    height: 80vh; 
    margin : auto; 
    display: block;
    border : 2px solid #ddd;
    border-radius: 10px;
    overflow : hidden;
    box-shadow : 0 4px 8px rgba(0,0,0,0.2);
}    

body {
    font-family: 'Robot', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Incosolata', monospace;
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
    padding : 10px;
    border-radius : 8px;
    background-color: #ecf0f1;
}

img.huechangeR { filter: hue-rotate(500deg); }
img.huechangeV { filter: hue-rotate(1000deg); }
img.huechangeO { filter: hue-rotate(880deg); }
img.huechangeJ { filter: hue-rotate(220deg); }
