<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <h1>Simple Map</h1>
    <div id="map"></div>
    <div>
        <h2>Reviews</h2>
        <table id="reviewsTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Category</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody id="reviewsBody">
                <!-- Les données seront ajoutées ici dynamiquement -->
            </tbody>
        </table>
    </div>
    <script>
        var map = L.map('map').setView([48.87, 2.333], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a hrep="https://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Charger la liste de points d'intérêt depuis un fichier JSON externe
        fetch('/static/restaurants.json')
            .then(response => response.json())
            .then(pointsOfInterest => {
                // Ajouter des marqueurs pour chaque point d'intérêt
                pointsOfInterest.forEach(point => {
                    var marker=L.marker(point.coordinates)
                        .addTo(map)
                        .bindPopup(point.name +' <br> ' +point.address + ' <br> Moyenne environnement de la chaine: ' + point.rating[0] + '<br> Moyenne santé de la chaine : ' + point.rating[1] + '<br>Moyenne gouvernance de la chaine : ' + point.rating[2]);
                        if (point.rating < 2.1) {
                            marker._icon.classList.add("huechangeR");
                        } else if (point.rating < 3.2) {
                            marker._icon.classList.add("huechangeO");
                        } else if (point.rating < 4.3) {
                            marker._icon.classList.add("huechangeJ");
                        } else {
                            marker._icon.classList.add("huechangeV");
                        }
                });
            })
            .catch(error => console.error('Erreur de chargement des points d\'intérêt:', error));
            fetch('/static/ecoreviews.json')
                .then(response => response.json())
                .then(reviews => {
                    // Ajouter les reviews au tableau
                    const reviewsBody = document.getElementById('reviewsBody');
                    reviews.eco_reviews.forEach(review => {
                        const row = reviewsBody.insertRow();
                        row.insertCell(0).textContent = review.userName;
                        row.insertCell(1).textContent = review.category;
                        const ratingCell = row.insertCell(2);
                        ratingCell.classList.add('stars');  // Ajoutez la classe 'stars'
                        ratingCell.innerHTML = '';  // Nettoie le contenu
                        for (let i = 0; i < review.rating; i++) {
                            ratingCell.innerHTML += '★';  // Ajoute une étoile pour chaque note
                        }
                        row.insertCell(3).textContent = review.comment;
                        row.insertCell(4).textContent = review.date;
                        row.insertCell(5).textContent = review.source;
                    });
                })
            .catch(error => console.error('Erreur de chargement des reviews:', error));
    
    </script>
</html>